<a href="https://colab.research.google.com/github/emiliomercuri/hidrologia/blob/main/notebooks/2023_06-19_Modelagem_Hidrol%C3%B3gica_0_Unifica_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Notebook para unificar os dados de P, ET e Q da bacia do Rio Cambará, afluente do rio Guaraguaçu, Litoral do Paraná.

Os dados são:

* Evapotranspiração MODIS
* Precipitação CHIRPS
* Vazão ANA

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

### Baixar os arquivos para o computador na nuvem

In [ ]:
!gdown 1y6ECEn7lmpGewOs6zn0L_s2T3LrPfk-v
!gdown 1_S64dkXlu6TzSjexWLPbgMXQ8F_-hwG0
!gdown 1DnUJPsIjQB65pZckn3IvqprgOizvua8D

Downloading...
From: https://drive.google.com/uc?id=1y6ECEn7lmpGewOs6zn0L_s2T3LrPfk-v
To: /content/ClimateEngine_dados_CHIRPS_CAMBARA2.csv
100% 239k/239k [00:00<00:00, 122MB/s]
Downloading...
From: https://drive.google.com/uc?id=1_S64dkXlu6TzSjexWLPbgMXQ8F_-hwG0
To: /content/evap_MODIS.csv
100% 270k/270k [00:00<00:00, 137MB/s]
Downloading...
From: https://drive.google.com/uc?id=1DnUJPsIjQB65pZckn3IvqprgOizvua8D
To: /content/vazao-82220000.csv
100% 70.3k/70.3k [00:00<00:00, 111MB/s]

In [ ]:
formato_data = lambda x: pd.datetime.strptime(x, "%d/%m/%Y")
df_P_chirps = pd.read_csv('ClimateEngine_dados_CHIRPS_CAMBARA2.csv', index_col=0, sep=';', date_parser=formato_data)
df_P_chirps.index = pd.to_datetime(df_P_chirps.index)
df_P_chirps

<ipython-input-3-f7d5d8db96aa>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  formato_data = lambda x: pd.datetime.strptime(x, "%d/%m/%Y")

            (mm)Precipitation(CHIRPS)
data
1981-01-01                     0.0000
1981-01-02                     0.0000
1981-01-03                     0.0000
1981-01-04                     1.6774
1981-01-05                     6.3816
...                               ...
2023-04-26                     0.0000
2023-04-27                     0.0000
2023-04-28                     0.0000
2023-04-29                     0.0000
2023-04-30                     0.0000

[15460 rows x 1 columns]

In [ ]:
formato_data = lambda x: pd.datetime.strptime(x, "%d/%m/%Y")
df_ET_modis = pd.read_csv('evap_MODIS.csv', index_col=0, sep=';', date_parser=formato_data)
df_ET_modis.index = pd.to_datetime(df_ET_modis.index)
df_ET_modis

<ipython-input-4-ee1a92a211be>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  formato_data = lambda x: pd.datetime.strptime(x, "%d/%m/%Y")

            ET(mm/d)  PET(mm/d)
Date
2000-01-01  3.507880   4.400272
2000-01-02  3.507880   4.400272
2000-01-03  3.507880   4.400272
2000-01-04  3.507880   4.400272
2000-01-05  3.507880   4.400272
...              ...        ...
2020-12-27  5.638913   7.215000
2020-12-28  5.638913   7.215000
2020-12-29  5.638913   7.215000
2020-12-30  5.638913   7.215000
2020-12-31  5.638913   7.215000

[7671 rows x 2 columns]

In [ ]:
formato_data = lambda x: pd.datetime.strptime(x, "%d/%m/%Y")
df_vazao = pd.read_csv('vazao-82220000.csv', index_col=0, sep=';', date_parser=formato_data)
df_vazao.index = pd.to_datetime(df_vazao.index)
df_vazao

<ipython-input-5-85f2a6a38527>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  formato_data = lambda x: pd.datetime.strptime(x, "%d/%m/%Y")

            Mean Streamflow
Date
1948-03-24             1.20
1948-03-25             2.30
1948-03-26             1.43
1948-03-27             1.27
1948-03-28             1.17
...                     ...
2009-11-26             0.80
2009-11-27             0.64
2009-11-28             2.05
2009-11-29             0.64
2009-11-30             0.55

[4172 rows x 1 columns]

In [ ]:
df_P_chirps['2004':'2008']

            (mm)Precipitation(CHIRPS)
data
2004-01-01                     0.0000
2004-01-02                     0.0000
2004-01-03                     0.0000
2004-01-04                     0.0000
2004-01-05                     0.0000
...                               ...
2008-12-27                     0.0000
2008-12-28                     0.0000
2008-12-29                     0.0000
2008-12-30                    14.3874
2008-12-31                    14.3874

[1827 rows x 1 columns]

In [ ]:
df_geral = df_P_chirps['2004':'2008']
df_geral['prec(mm/dia)'] = df_geral['(mm)Precipitation(CHIRPS)']
df_geral = df_geral[['prec(mm/dia)']]
df_geral['etp(mm/dia)'] = df_ET_modis['PET(mm/d)']
df_geral['et(mm/dia)'] = df_ET_modis['ET(mm/d)']
df_geral['q(m3/s)'] = df_vazao
df_geral

<ipython-input-10-b80ed1609b4c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_geral['prec(mm/dia)'] = df_geral['(mm)Precipitation(CHIRPS)']

            prec(mm/dia)  etp(mm/dia)  et(mm/dia)  q(m3/s)
data
2004-01-01        0.0000     3.954348    2.996060     0.76
2004-01-02        0.0000     3.954348    2.996060     0.54
2004-01-03        0.0000     3.954348    2.996060     0.51
2004-01-04        0.0000     3.954348    2.996060     0.48
2004-01-05        0.0000     3.954348    2.996060     0.61
...                  ...          ...         ...      ...
2008-12-27        0.0000     8.172464    6.019203     0.61
2008-12-28        0.0000     8.172464    6.019203     0.64
2008-12-29        0.0000     8.172464    6.019203     0.64
2008-12-30       14.3874     8.172464    6.019203     0.57
2008-12-31       14.3874     8.172464    6.019203     0.57

[1827 rows x 4 columns]

In [ ]:
df_geral.to_csv('dados_cambara_2004-2008.csv')